/*  REGLAGES GENERAUX................................................. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

.logoX {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    overflow: hidden;
    background-color: orangered;
}

.flags-ring {
    position: absolute;
    display: flex;
    overflow: hidden;
}

.flag {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Les drapeaux avec background-image */
.flag-cm {
    background-image: url('https://flagcdn.com/cm.svg');
}

.flag-nl {
    background-image: url('https://flagcdn.com/nl.svg');
}

.flag-fr {
    background-image: url('https://flagcdn.com/fr.svg');
}

.flag-de {
    background-image: url('https://flagcdn.com/de.svg');
}

.flag-br {
    background-image: url('https://flagcdn.com/br.svg');
}

.flag-ua {
    background-image: url('https://flagcdn.com/ua.svg');
}

.flag-ar {
    background-image: url('https://flagcdn.com/ar.svg');
}

.flag-vn {
    background-image: url('https://flagcdn.com/vn.svg');
}

.flag-ma {
    background-image: url('https://flagcdn.com/ma.svg');
}

.flag-it {
    background-image: url('https://flagcdn.com/it.svg');
}

.LogoInner {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: aqua;
    z-index: 10;
    position: relative;
}