/*  REGLAGES GENERAUX................................................. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}



